body {
  font-family: "helvetica", sans-serif;
  background-color: black;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  margin: 0 auto;
}

a {
  color: seashell;
}

/*Header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav span {
  display: inline-block;
  padding: 0px 5px;
  margin-right: 15px;
}

/*Our Mission*/
.banner {
  width: 1200px;
  margin: auto;
}

.banner-content {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.text-content {
  background-color: black;
  width: 100%;
}

/*Tea of the Month*/
.teaofthemonth {
  display: block;
  text-align: center;
  width: 1200px;
}

.tea-content {
  width: auto;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
}

.teas img {
  width: 300px;
  height: 200px;
  padding: 0px 12px;
}

/*Locations*/
.store-locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  margin-top: 50px;
  background-repeat: no-repeat;
  height: 565px;
}

.location-header {
  text-align: center;
  padding-top: 10px;
}

.locations-maine {
  display: flex;
  justify-content: center;
}

.location {
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px 20px;
  opacity: 1.0;
  background-color: black;
}

/*Footer*/
footer {
  text-align: center;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}
